<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/public/style/default.css" />
  </head>
  <body>
    <div id="cover"></div>
    <div id="messageBox">
      <div id="messageContent">
        <div id="message"></div>
        <br />
        <button type="button" id="messageOk">OK</button>
      </div>
    </div>
    <button type="button" id="btnShowMessage">Show Message</button>
    <script></script>
  </body>
</html>
