<!doctype html>
  <html>
    <head>
      <meta charset="UTF-8"  />
      <title>Example worker</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="./worker.js"> </script>
</head>
<body>
  <button type="button" id="notificationBtn" class="btn btn-primary">
    Notifications <span id="spanNot" class="badge badge-light"></span>
  </button>
<span id="divNot"></span>
</body>
</html>