<!DOCTYPE html>
<html>
  <head>
    <title>Some tests</title>  
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    <script src="./calculator.js"></script>
    <link rel="stylesheet" type="text/css" href="./calculator.css">
  </head>
<body>
<div>
  <div>
    <input type="text" id="display" value="0" readonly>
  </div>
    <div>
   <input type="text" id="input" value="0" readonly>
  </div>
  <div >
    <button id="number1">1</button>
    <button id="number2">2</button>
    <button id="number3">3</button>
    <button id="plus" class="button-action">+</button><br>
    <button id="number4">4</button>
    <button id="number5">5</button>
    <button id="number6">6</button>
    <button id="minus" class="button-action">-</button><br>
    <button id="number7">7</button>
    <button id="number8">8</button>
    <button id="number9">9</button>
    <button id="multiplication" class="button-action">*</button><br>
    <button id="clear" class="button-action">C</button>
    <button id="number0">0</button>
    <button id="result" class="button-action">=</button>
    <button id="division" class="button-action">/</button>    
</div>
</body>
</html>