* {
     margin: 0; padding: 0; box-sizing: border-box; 
    }
body {
     font: 13px Helvetica, Arial; 
    }
form { 
    background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;
}
form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; 
}
form button { 
    width: 9%; background: rgb(42, 142, 175); border: none; padding: 10px; margin-left: 2%;
 }
#messages { 
    list-style-type: none; margin: 0; padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}
form button:hover{
background-color: rgb(16, 75, 95);
} 

.online{
    color: rgb(20, 102, 75);
    font-weight: bold;
  }
  
  .offline{
    color: rgb(180, 19, 27);
    font-weight: bold;
  }