
<!DOCTYPE html>
<html>
<head>
    <title>A simple group chat</title>
    <link rel='stylesheet' href='../chat/chat.css' type='text/css' >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../services/auth.js"></script>
    <script src="../models/credentials.js"></script>
    <script src='../chat/chat.js'></script>   
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Chat App</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/chat" id="chatBtn">Chat</a></li>
          <li><a href="/" id="logoutBtn">Logout</a></li>
        </ul>
      </div>
    </nav>
    <ul id="messages"></ul>
    <form method="POST" action="/" id="chatForm">
        <input type="text" id="messageTxt" placeholder="type your message here..." autocomplete="off" autofocus="on" required="required" >
        <button id="sendBtn">Send</button>
    </form>
</body>
</html>