
<!DOCTYPE html>
<html>
<head>
    <title>A simple group chat</title>
    <link rel='stylesheet' href='./register.css' type='text/css' >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> 
    <script src="../services/auth.js"></script>
    <script src='../register/register.js'></script>
</head>
<body>
    <form id="registerForm">
        <div id="register">Register User</div>
        <input type="text" id="usernameTxt" placeholder="Username" autofocus="on" required="required" >
        <button id="registerBtn" >Register</button>
    </form>
</body>
</html>