<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./default.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="./default.js"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <hgroup  id="headertext">
                    <h1>Contacts</h1>
                </hgroup>
            </header>
            <div role="main">
                <table id="contacts">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="editContact">
                    <div>
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName">
                    </div>
                    <div>
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div>
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" name="phoneNumber">
                    </div>
                    <div>
                        <button id="btnSave" name="btnSave">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>