body {
  background: #161616;
  color: #bdbdbd;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica neue, roboto;
}

img {
  width: 56px;
  height: 48px;
}

h1 {
  font-weight: 200;
  font-style: 26px;
  margin: 10px;
}

button{
  background-color: #2d698b;
  border:1px solid #0c2a4d;
  width:100px;
  height:50px;

}
button:hover{
  background-color: C;
}


label{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#2d698b;
}
